<div  *ngIf='article' class='article'>

  <div class='banner px-2 px-md-5'>
        <h1 class='my-4'>{{article.title}}</h1>
      
        <div class='d-flex flex-column flex-md-row mx-0'>

          <div class='meta mr-auto mb-3'>
            <img  src='assets/avatar.jpg' class='avatar d-inline-block media align-top'>
            <div class='info ml-1 d-inline-block'>
              <a  routerLink='/profile/{{username}}' class='link'>{{username}}</a>
              <p class='date my-0'>{{article.time | date:'MMMM dd, yyyy'}}</p>
            </div>
          </div>
          
          <div *ngIf='this.sessionService.getSession().id==article.author' class='d-flex-inline-block'>
              <button (click)='edit()' class='btn btn-success m-1'>Edit article</button>
              <button (click)='delete()' class='btn btn-danger m-1'>Delete article</button>
          </div>
        </div>

  </div>

  <div class='content container mt-5 border-bottom'>
    <p>{{article.content}}</p>
  </div>

</div>
<app-error-panel></app-error-panel>