<div class='d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 bg-white border-bottom'>
  <h1 class='mr-md-auto my-0'>RealWorld</h1>
  <nav class='my-0 my-md-2 mr-md-3'>
    <a class='p-2 text-dark'routerLink='/'>Home</a>
    
    <span *ngIf='!this.sessionService.checkSession()'>
    <a class='p-2 text-dark'routerLink='/login'>Sign In</a>
    <a class='p-2 text-dark'routerLink='/register'>Sign Up</a>
    </span>

    <span *ngIf='this.sessionService.checkSession()'>
        <a class='p-2 text-dark'routerLink='/editor'>New Article</a>
        <a class='p-2 text-dark'routerLink='/settings'>Settings</a>
        <a class='p-2 text-dark'routerLink='/profile/{{this.sessionService.getSession().username}}'>{{this.sessionService.getSession().username}}</a>
    </span>

  </nav>
</div>