.header {
  background-color: #192a56;
  font-size: 18px;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #718093;
  padding: 0.3em 0.5em 0.3em 0.5em;
  box-sizing: border-box;
}

.nav-btn {
  color: white;
  font-weight: 600;
  padding: 0.5em 1em 0.3em 1em;
}