.home-page {
  background-color: white;
  padding-top: 0.5em;
}

.banner {
  background-color: rgb(115, 123, 170);
  color: white;
  font-weight: 700;
  text-align: center;
}

.feed {
  background-color: #dcdde1;
  border: solid 1px black;
}

.feed-toggle {
  background-color: #353b48;
  padding: 0.3em 0 0.3em 0;
}

.btn-free {
  background-color: #353b48;
  outline: 0;
  border: solid white 1px;
  color: white;
}

.btn-selected {
  border: none;
  outline: 0;
  border-bottom: solid black 2px;
}

.toggle-button {
  padding: 0.5em 0.8em 0.5em 0.8em;
  margin: 0 1em 0 1em;
  border-radius: 3px;
}