.banner {
  background-color: rgb(115, 123, 170);
  color: white;
  font-weight: 700;
  text-align: center;
}

.btn-free {
  background-color: white;
  outline: 0;
  border: none;
}

.btn-selected {
  background-color: white;
  border: none;
  outline: 0;
  border-bottom: solid black 2px;
}