<div class='home-page'>
  <div *ngIf='!isLoggedIn()' class='banner'>
    <div class='container'>
      <h1 class='h1'>Realworld</h1>
      <p>A project to learn Angular, NodeJS, MongoDB, Bootstrap</p>
    </div>
  </div>

  <div class='container page'>
    <div class='row'>
      <div class='feed col-sm-9 px-0'>
        <div class='feed-toggle md-0 pd-5'>
          <button [ngClass]='isPublic ? "btn-free" : "btn-selected"' class='toggle-button'
            (click)='requestPersonalFeed()'>
            Your Feed
          </button>
          <button [ngClass]='isPublic ? "btn-selected" : "btn-free"' class='toggle-button'
            (click)='requestGlobalFeed()'>
            Global Feed
          </button>
        </div>
        <app-article-list [articles]='articles'></app-article-list>
      </div>
      <div class='col-sm-3'>
        <span>List of tags</span>
      </div>
    </div>
  </div>
</div>