.banner {
  background-color: rgb(228, 228, 228);
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 1em 0 1rem 0;
}

.btn-free {
  background-color: white;
  outline: 0;
  border: none;
}

.btn-selected {
  background-color: white;
  border: none;
  outline: 0;
  border-bottom: solid black 2px;
}

.toggle-button {
  padding: 0.5em 0.8em 0.5em 0.8em;
}

.avatar {
  border-radius: 50%;
  height: 6em;
}