<div class='profile-page' *ngIf='user'>
  <div class='banner'>
    <div class='container'>
      <h1 class='h1'></h1>
      <p>A project to learn Angular, NodeJS, MongoDB, Bootstrap</p>
    </div>
  </div>

  <app-error-panel></app-error-panel>

  <div class='container page'>
    <div class='row'>
      <div class='col-sm-10  offset-1 px-0'>
        <div class='feed-toggle md-0 pd-5'>
          <button [ngClass]='isPersonal ? "btn-selected" : "btn-free"' class='toggle-button'
            (click)='requestOwnPosts()'>
            Your Posts
          </button>
          <button [ngClass]='isPersonal ? "btn-free" : "btn-selected"' class='toggle-button'
            (click)='requestFavoritePosts()'>
            Favorite Posts
          </button>
        </div>
        <app-article-list [articles]='articles'></app-article-list>
      </div>
    </div>
  </div>
</div>