<div class='text-center'>
  <form #regForm='ngForm' (ngSubmit)='onSubmit(regForm)' class='form-signup p-1 m-auto'>
    <h1 class='h3 mb-3 font-weight-normal'>Sign up</h1>
    
    <a routerLink='register'>Already a member?</a>

    <input type='text' class='form-control my-2' id='email' placeholder='Email' required
      ngModel name='email' (input)='validate(regForm)'>

    <input type='text' class='form-control my-2' id='username' placeholder='Username' required
      ngModel name='username' (input)='validate(regForm)'>

    <input type='password' class='form-control my-2' id='password' placeholder='Password' required
      ngModel name='password' (input)='validate(regForm)'>

    <button type='submit' class='btn btn-success' [disabled]='!validInput'>Sign up</button>

    <app-error-panel></app-error-panel>
  </form>
  </div>