<div class='text-center'>
  <form #loginForm='ngForm' (ngSubmit)='onSubmit(loginForm)' class='form-signin p-1 m-auto'>
    <h1 class='h3 mb-3 font-weight-normal'>Sign in</h1>

    <a routerLink='/register'>Need an account?</a>
    
    <input type='text' class='form-control my-2' id='email' placeholder='Email' required
      ngModel name='email' (input)='validate(loginForm)'>

    <input type='password' class='form-control my-2' id='password' placeholder='Password' required
      ngModel name='password' (input)='validate(loginForm)'>

    <button type='submit' class='btn btn-success' [disabled]='!validInput'>Sign in</button>

    <app-error-panel class='my-2'></app-error-panel>
  </form>
</div>