<form class='form-editor p-2 mt-1 mx-auto'>
    
    <input type='text' class='form-control my-2' id='title' placeholder='Article title' required
      [(ngModel)]='article.title' name='title'>

    <input type='text' class='form-control my-2' id='description' placeholder="What's this article about?" required
      [(ngModel)]='article.description' name='description'>

    <textarea class='form-control my-2' id='content' placeholder="Write your article" rows=8 required
      [(ngModel)]='article.content' name='content'></textarea>

      <input type='text' class='form-control my-2' id='tags' placeholder="Enter tags" required
      [(ngModel)]='tags' name='tags'>
    <div class='row  justify-content-end'>
      <div class='col-md-2'>
        <button type='submit' class='btn btn-success' (click)='publish()'>Publish</button>
      </div>
    </div>
    <app-error-panel class='my-2'></app-error-panel>
  </form>